@page "/About"

<PageTitle>About</PageTitle>

<div class="container-fluid col-8 mx-auto mt-2 font-monospace fs-5">
    <p class="fs-2 fw-bolder text-center text-danger">About</p>
    
    <p><span class="text-success">Welcome to this simple version of tic-tac-toe.</span>
        The game is played on a 3x3 grid. The first player is known as X and the second is O.
        Players alternate placing Xs and Os on the game board until either opponent has three
        in a row or all nine squares are filled. X always goes first, and in the event that 
        no one has three in a row, the stalemate is called a cat game.
    </p>

    <p class="text-primary">
        You can choose between four players of increasing difficulty beginning with the easiest, Tipsy, and
        progressing to the hardest, Sima Yi. The game will randomly select who plays X and goes first.
        Boris is the strongest player based on my rules approach, Sima Yi is unbeatable and was
        adapted from the minimax algorithm. Sima Yi has not beaten Boris yet.
    </p>

    <p> 
        Included in the project is a console version of the game in which two computer players play against each other.
        The players are randomly chosen. Statistics are recorded, and games continue until the user hits (x).
        To run the console project, change the startup project to TicTacToe.Console and hit F5.
        This is what the console output looks like:
     </p>
    
    <div class="container-fluid text-center mt-3 mb-3">
        <img src="console.png" alt="console output" class="img-fluid-thumbnail" />
    </div>
    
    <p class="text-center">
        The game is written in C# using .NET Core 7 and Blazor WebAssembly.
    </p>
</div>
