@page "/About"

<PageTitle>About</PageTitle>

<div class="container-fluid col-6 mx-auto mt-2 font-monospace fs-4">
    <p class="fs-2 fw-bolder text-center">About</p>
    
    <p>Welcome to this simple version of tic-tac-toe, also known as noughts & crosses.</p>

    <p>
        The game is played on a 3x3 grid. The first player is known as X and the second is O.
        Players alternate placing Xs and Os on the game board until either opponent has three
        in a row or all nine squares are filled. X always goes first, and in the event that 
        no one has three in a row, the stalemate is called a cat game.
    </p>

    <p class="fw-bold">
        You can choose between three players of increasing difficulty beginning with the easiest, Tipsy, and
        progressing to the hardest, Boris. The game will randomly select who plays X and goes first.
    </p>

    <p> 
        Included in the project is a console version of the game in which two computer players play against each other.
        The players are randomly chosen. This is what the console output looks like:
    </p>
    
    <div class="container-fluid text-center mt-3 mb-3">
        <img src="console.png" alt="console output" class="img-fluid-thumbnail" />
    </div>
    
    <p>
        The game is written in C# using .NET Core 7 and Blazor WebAssembly. The source code is available on
        <a href="https://github.com/daharper/TicTacToe">GitHub</a>.
    </p>
</div>
